Parent Name: Leng Spider
Name: Ranged Trip
Nom: Croc-en-jambe à distance
État: officielle

------ Description (en) ------
<p>A Leng spider can use a web bola to @Compendium[pf2e.actionspf2e.ge56Lu1xXVFYUnLP]{Trip} a target with the Athletics skill. The skill check takes a -2 circumstance penalty. A web bola deals no damage when used to Trip.</p>
------ Description (fr) ------
<p>Une araignée de Leng peut utiliser un bola de toile pour faire un @Compendium[pf2e.actionspf2e.ge56Lu1xXVFYUnLP]{{Croc-en-jambe} à une cible avec la compétence Athlétisme. Le test de compétence subit un malus de circonstances de −2. Un bola de toile n’inflige aucun dégât lorsqu’il est utilisé pour faire un Croc-en-jambe.</p>