Name: Shrapnel Snare
Nom: Piège artisanal de mitraille
État: libre

------ Description (en) ------
<p>This snare uses tightly wound springs, clockwork, and shrapnel to cause devastating damage. When a creature enters the snare's square, the trap releases, dealing [[/r {12d6}[piercing]]]{12d6 piercing damage} in a deafening explosion. Everyone in a @Template[type:emanation|distance:10]{10‑foot radius} of the snare's square must attempt a @Check[type:reflex|dc:31] save.</p>
<hr />
<p><strong>Critical Success</strong> The creature in unaffected,</p>
<p><strong>Success</strong> The creature takes half damage and is @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Deafened} for 1 round.</p>
<p><strong>Failure</strong> The creature takes full damage, [[/r {2d6}[persistent, piercing]]]{2d6 persistent piercing damage}@Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Piercing Damage}, and is @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Deafened} for 1 minute.</p>
<p><strong>Critical Failure</strong> The creature takes double damage, [[/r {4d6}[persistent, piercing]]]{4d6 persistent piercing damage}@Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Piercing Damage}, and is @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Deafened} for 1 minute.</p>
------ Description (fr) ------
<p>Ce piège artisanal utilise des ressorts étroitement enroulés, des pièces mécaniques et des éclats d'obus pour causer des dégâts dévastateurs. Lorsqu'une créature pénètre dans la case du piège, celui-ci se déclenche, infligeant [[/r {12d6}[piercing]]]{12d6 dégâts perçants} en une explosion assourdissante. Toutes les créatures dans une émanation de @Template[type:emanation|distance:10]{3 mètres de diamètre} de la case du piège doivent tenter un jet de sauvegarde @Check[type:reflex|dc:31]{Réflexes DD 31}.</p>
<hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée</p>
<p><strong>Succès</strong> La créature subit la moitié des dégâts et est @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Sourde} pendant 1 round.</p>
<p><strong>Échec</strong> La créature subit la totalité des dégâts, [[/r {2d6}[persistent, piercing]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{{2d6 dégâts persistants perforants} et est @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Sourde} pendant 1 minute.</p>
<p><strong>Échec critique</strong> La créature subit le double des dégâts, [[/r {4d6}[persistent,piercing]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{{4d6 dégâts perforants persistants}} et est @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Sourde} pendant 1 minute.</p>
