Parent Name: Gelugon
Name: Slowing Frost
Nom: Givre ralentissant
État: officielle

------ Description (en) ------
<p>The ice devil channels the extreme cold of its body through its appendages and weapons. A creature hit by an ice devil's weapon or unarmed attack in melee must attempt a @Check[type:fortitude|dc:32] save or be @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for [[/br 1d4 #rounds]]{1d4 rounds}. A weapon used by an ice devil gains the effects of a @Compendium[pf2e.equipment-srd.M5M1WJ5KzbYfRGsY]{Frost rune} while the gelugon holds it, and the ice devil can throw any such weapon with a 20-foot range increment, trailing motes of frost.</p>
------ Description (fr) ------
<p>Le diable des glaces canalise le froid extrême de son corps à travers ses membres et ses armes. Une créature touchée par l’arme d’un diable des glaces ou par une attaque à mains nues au corps-à-corps doit tenter un jet de @Check[type:fortitude|dc:32]{Vigueur} DD 32 ou être @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} pendant [[/br 1d4 #rounds]]{1d4 rounds}. Une arme utilisée par un diable des glaces gagne les effets de la @Compendium[pf2e.equipment-srd.M5M1WJ5KzbYfRGsY]{{rune de froid} tant que le gélugon la tient et ce dernier peut lancer cette arme avec un facteur de portée de 6 m avec une traînée de froid.</p>